<div class="col-md-6 peripheraldevice-container">
  <h2 class="text-center">Add peripheral device</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="vendor">Vendor:</label>
      <input type="text" formControlName="vendor" placeholder="Vendor" name="vendor" class="form-control" id="vendor">
    </div>

    <button class="btn btn-success">Add</button>
    <button id='goBack' class="btn btn-warning"
            (click)="goBack()">Go back
    </button>
  </form>
</div>
