<button id='addGateway' class="btn btn-success"
        (click)="goAddGatewayPage()">Add Gateway
</button>
<div class="datatable-wide">
  <table class="table table-bordered table-striped tabla">
    <thead>
    <tr class="filters">
      <th>Serial number</th>
      <th>Name</th>
      <th>IPv4</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody *ngIf="gateways?.length != 0">
    <tr *ngFor="let gateway of gateways;" [id]="'row-gateway'+gateway.id">
      <td>{{gateway.serialNumber}}</td>
      <td>{{gateway.name}}</td>
      <td>{{gateway.ipv4}}</td>
      <td>
        <button [id]="'detailsGateway' + gateway.id" [disabled]="gateway.peripheralDevices.length == 0"
                class="btn btn-success"
                (click)="detailsGateway(gateway)">Show details
        </button>
        <button id='deleteGateway' class="btn btn-danger"
                (click)="deleteGateway(gateway.id)">Delete
        </button>
        <button id='addPeripheralDevice' [disabled]="gateway.peripheralDevices.length >= 10"
                class="btn btn-success"
                (click)="goAddPeripheralDevicePage(gateway)">Add peripheral device
        </button>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="gateways?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
    </tbody>
  </table>
</div>
