<div class="col-md-6 gateway-container">
  <h2 class="text-center">Add Gateway</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="serialNumber">Serial number:</label>
      <input type="text" formControlName="serialNumber" placeholder="Serial number" name="serialNumber" class="form-control" id="serialNumber">
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="ipv4">IPv4:</label>
      <input type="text" formControlName="ipv4" placeholder="IPv4" name="ipv4" class="form-control" id="ipv4">
    </div>

    <button class="btn btn-success">Add</button>
    <button id='goBack' class="btn btn-warning"
            (click)="goBack()">Go back
    </button>
  </form>
</div>
